@model IEnumerable<LoaiSanPhamModel>
@{
    ViewData["Title"] = "Danh sách sản phẩm";
}
<div class="container-fluid  dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Danh sách loại sản phẩm</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" class="breadcrumb-link">Dashboard</a></li>
                            @* <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">tables</a></li> *@
                            <li class="breadcrumb-item active" aria-current="page">Danh sách loại sản phẩm</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <div class="row">

        <!-- ============================================================== -->
        <!-- basic table  -->
        <!-- ============================================================== -->
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">
                    Danh sách loại sản phẩm
                    <a class="btn btn-danger" asp-action="Create" asp-controller="LoaiSanPham">Thêm danh mục</a>
                    </h5>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered first">
                            <thead>
                                <tr>
                                    <th>MaLoaiSp</th>
                                    <th>Tên loại sản phẩm</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                    <tr>
                                        <td>@item.LoaiSPId</td>
                                        <td>@item.Name</td>
                                        <td>
                                            <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="LoaiSanPham" asp-route-Id="@item.LoaiSPId">Sửa</a>
                                            <a onclick="return confirm('Are u sure to delete?')" asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="LoaiSanPham" asp-route-Id="@item.LoaiSPId">Xóa</a>
                                        </td>
                                    </tr>
                                }
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>MaLoaiSp</th>
                                    <th>Tên loại sản phẩm</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end basic table  -->
        <!-- ============================================================== -->
    </div>
</div>